* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.mainhead {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px;
    background: linear-gradient(90deg, rgba(200, 223, 232, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(253, 220, 195, 1) 100%);
    position: sticky;
    top: 0;
    left: 0;
}


.logo {
    width: 40%;
}

.logo img {
    width: 250px;
    height: auto;
}

.main-heading-class h5 {
    font-size: 30px;
    margin: 20px auto;
    max-width: 400px !important;
}

.headings {
    width: 60%;
    display: flex;
}

.headings ul {
    list-style: none;
    margin-top: 5px;
    display: flex;
    gap: 15px;
    font-weight: bold;
    /* background-color:red; */
}

.headings ul li {
    font-size: 18px;
}

.endhead {
    display: flex;
    /* background-color: yellow; */
    margin-left: 37px;
}

.button h4:hover {
    background-color: black;
}

.dropdown {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 300px;
    background-color: azure;
    flex-direction: column;
    gap: 0px !important;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s;
    transform: translateY(-20px);
    color: black;
}

.dropdown li {
    padding: 10px;
    font-size: 15px !important;
}

.head1 ul li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transform: translateY(0px);
}

.head1 ul li {
    position: relative;
}

.head1 ul li a {
    color: black !important;
}

.subdropdown {
    position: absolute !important;
    top: 30px;
    left: 100%;
    width: 200px;
    background-color: azure;
    flex-direction: column;
    gap: 0px !important;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transform: translateY(-20px);
    color: black;
}

.subdropdown li {
    padding: 10px;
    color: black;
}

.dropdown ul li {
    position: relative;
    color: black;
}

.dropdown li:hover>.subdropdown {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transform: translateY(0px);
}


.button h4 {
    background-color: orangered;
    color: aliceblue;
    font-size: larger;
    transition: 0.5s;
    font-size: 13px;
    border-radius: 8px;
    padding: 11px 11px;
    margin-right: 20px;

}

.icon i {
    font-size: 31px;
}

.Voice {
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    background: linear-gradient(90deg, rgba(200, 223, 232, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(253, 220, 195, 1) 100%);
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}


.voicon {
    display: flex;
    gap: 30px;
}

.voi1 img {
    width: 500px;
}

.voicontent {
    margin: 10px;
    padding: 20px;
}

.voicontent h3 {
    padding: 20px 15px;
    font-size: 35px;
    margin: 10px;
    margin-left: 65px;
}

.voicontent p {
    margin: 5px;
    padding: 13px 84px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    text-align: justify;
}
.content2 h3{
    padding: 10px 30px;
    font-size: 27px;
    margin: 0px 15px;
}
.content2 p{
    font-size: 19px;
    padding:15px 30px;
    margin:0px 17px;
    font-weight: 300px;
}
.head{
    text-align: center;
    margin: 20px;
    font-size: 30px;
}
.pic{
    text-align: center;
}
.pic img{
    margin-top: 15px;
    width:900px;
}
.theboxes {
    display: flex;
    width: 100%;
    padding: 0px 64px;
    gap: 20px;
}
.box1{
    border: 2px solid black;
    height: fit-content;
    color: rgb(105, 102, 135);
}

.box1 h4 {
    background-color: rgb(254, 116, 87);
    font-size: 23px;
    text-align: center;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.box1 ul{
    padding: 15px;
    margin-left: 15px;
}

.box1 ul li{
    padding: 5px;
    list-style: disc !important;
}

.new1{
    text-align: center;
    font-size: 30px;
    margin:20px 10px;
}
.cont3,.cont31{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    gap:25px;
}
.line1,.line2{
    text-align: center;
    justify-content: center;
    font-size: 18px;
}
.photo{
    margin:20px;
}
.para{
    font-weight: 250px;
}
.para p {
    margin: 0px 12px;
    padding:0px 35px;
}
.faqs{
    margin-bottom: 25px;
}
.faqs h3 {
    text-align: center;
    font-size: 40px;
    color: rgb(27, 27, 49);
    margin:10px;
    padding:20px;
}

.faqs h6 {
    margin: 2px;
    padding: 15px;
    font-size: 16px;
    color: gray;
    border-bottom: 1px solid gray;
}
.leftbox{
    display: flex;
    /* justify-content: flex-end; */
    width: 600px;
    float: right;
    /* background-image: url("../WhatsBulk/images/Section.png"); */
}
.entrybox{
    border: 5px solid none;
    padding: 40px;
    background-image: url("./Section.png");
    background-position:0%;
    background-size:cover;
}

.entrybox h3{
    font-size: 30px;
    padding: 20px;
}
.entrybox h6{
    font-size: 20px;
    padding: 20px;
}
.entrybox h4{
    font-size: 20px;
    padding: 20px;
}
.send{
    background-color: blue;
    color: white;
    padding: 12px 12px;
    border-radius: 8px;
    margin-left: 3px;
    margin-left: 10px;
}

.noaera{
    margin-top: 10px;
    height: 150px;
    width:400px;
    margin-left: 10px;
}
.the-input{
    display: flex;
    flex-wrap: wrap;
}
.the-input input{
    margin: 10px 10px !important;
    padding: 15px !important;
    border: none;
    border-bottom: 1px solid grey;
    background: none;
}
#message{
    padding: 100px 135px;
    text-align: start;
}

.lastcontent {
    width: 100%;
    display: flex;
    padding: 60px;
    gap: 20px;
    justify-content: center;
    /* justify-content: space-between; */
}

.lastcontent .con1 {
    width: 50%;
}

.social {
    display: flex;
    margin: 0px  2px;
    padding: 3px 3px;
    font-size: 20px;
    gap: 6px;
}

.social i {
    margin: 0px px;
}

.info {
    margin: 30px 0px;

}

.info-1 {
    display: flex;
    width: 40%;
}

.info-1 img {
    margin-right: 17px;
    width: 50px;
    margin-left: 7px;
}

.info-1 h5 {
    margin-left: 20px;
}

.info-2 {
    display: flex;
    width: 60%;
}

.info-2 img {
    padding-top: 5px;
    padding-right: 2px;
    margin-top: 15px;
    margin-right: 25px;
    width: 60px;
}

.info-2 h5 {
    margin-left: 8px;
}

.table {
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.tab2 {
    margin-left: 60px;
}

.tab1 ul {
    margin-top: 28px;
}

.phase1 ol {
    list-style: visible;
}

.tab1 ul li {
    margin-top: 8px;
    font-size: 17px;
}

.tab2 ul {
    margin-top: 30px;
}

.tab2 ul li {
    margin-top: 8px;
    font-size: 17px;
}

.inside {
    width: 80%;
    bottom: 0;
    padding-left: 85px;
    margin-left: 85px;
    font-size: 15px;
}
.logo1 img{
    width: 250px;
}